<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ZurichSans-Bold.ttf</string>
		<string>ZurichSans-BoldItalic.ttf</string>
		<string>ZurichSans-Italic.ttf</string>
		<string>ZurichSans-Light.ttf</string>
		<string>ZurichSans-LightItalic.ttf</string>
		<string>ZurichSans-Medium.ttf</string>
		<string>ZurichSans-MediumItalic.ttf</string>
		<string>ZurichSans-Regular.ttf</string>
		<string>ZurichSans-Semibold.ttf</string>
		<string>ZurichSans-SemiboldItalic.ttf</string>
	</array>
</dict>
</plist>
